/* adding some css for the body to make out app in center of page */
body{
    box-sizing: border-box;
    margin : 0; 
    padding: 0;    
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Added outline for whole container */
#container{
    height : auto;
    width : 40%;
    border : 1px solid black;
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px black;
    margin-top : 40px;
 }

 /* Added some common dimention for form div and task div */
.basic-structure{
    height : 80px;
    width : 98%;
    border-bottom : 1px solid lightslategray;  
    margin-top : 2px
}
/* heading and description in form page */
#heading, #description{
    border-bottom : 1px solid lightslategray;
}

#heading{
    width : 100%;
    margin-top: 0;
    background-color : #6CB4EE;
}

#heading-text{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bolder;
    color : darkslategray;
}

#description, h3{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    color : darkslategray;
    display : inline-block;
    margin : 0;
    margin-left : 8px;
    margin-top : 5px;
}

#description{
    margin-left : -2px;
}

#description input{
    border : 0;
    outline: 0;
}
/* textbox description */
#textBox{
    height : 35px;
    width: 80%;
    margin-bottom : 10px;
    margin-left : 5px;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color : rgb(40, 39, 39);
    opacity: 0.9;
    border: none;
}

/* form select category css */
#category-date{
    display : inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

#category, #date{
    height: inherit;
    width: 45%;
    display : inline-block;
    /* border : 2px solid black; */
    border-bottom : 1px solid lightslategray;
}

#select{
    height : 50%;
    width: 100%;
    border : 0;
    outline: 0;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color : darkgrey;
}

.options{
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color : darkgrey;
    border : none;
}

/* form date css */
#dates{
    height : 40px;
    width : 90%;
    color : darkgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border : 0;
    outline : 0;
    margin-left : 5px;
}
/* form button css */
#buttons{
    display : inline-block;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}

#add-task-button{
    height: 60%;
    width: 30%;
    display : inline-block;
    /* border : 2px solid black; */
    display : flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 5px 5px 5px black;
    background-color : gray;
    margin-right : 5px;    
}

#add-task-button i{
    margin-top : 6px;
}
#add{
    height : 100%;
    width: 70%;
    background-color : gray;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    border : 0;
}

/* css for all task : added scrolling */
#scrollMe{
    height: 100%;
    width: 93%;
    margin-left: 40px;
    max-height: 250px;
    overflow-y: scroll;
}

/* Rendering all task css */
#tasks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#data{
    display: inline-block;
    height : inherit;
    width : 70%;
}

#list-desc{
    display : inline-block;
    margin: 0;
    margin-top: 10px;
    margin-left : 5px;
}
#list-date{
    margin-left : 5px;
    margin-top : 3px;
    font-size: 0.9rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

#list-desc{
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Task category labels */
#labels{
    display: inline-block;
    height : inherit;
    width : 28%;
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#list-category{
    height: 35px;
    width :60%;
    text-align : center;
    box-shadow: 5px 5px 5px black;
    background-color: black;
    margin-bottom: 20px;
}

#list-category p{
    font-size: large;
    text-align: center;
    color : white;
    margin-top: 7px;
}

/* delete task from div css */
#delete-task-icon{
    display: inline-block;
    height: 50%;
    width: 10%;
    /* border : 1px solid black; */
    margin-left : 20px;
    margin-top : 15px;
}

#delete-task-icon a i{
    color :black;
}